@import url('https://fonts.gomgleepls.com/css2?famliy-Poppins:wght@300;400;500;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-repeat: no-repeat;
    background-size: contain;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#titulo
{
    display: block;
    position: absolute;
    color: red;
    text-align: center;
    text-overflow: clip;
    top: 200px;
    text-shadow: 0px 0px 1px white ;

}
#fim
{
    display: block;
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0px;
    right: 150px;
}
.cards {
    width: 300px;
    display: block;
    margin: auto;  
    box-shadow: 1px 2px 30px #237a7094;
    padding-top: 5px;
}
#simbolo
{
    display: block;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 50px;
}
.back {
    display: block;
    margin: auto;
}
header {
    background-color: black;
    color: #494FA8;/* #494FA8, text-shadow: 1px 1px 6px #4f55b0c0;*/
    text-align: center;
    text-shadow: 1px 1px 6px #4f55b0c0;
}
h2 {
    color: brown;
    padding: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 9px ;
}
nav > a {
    color: #4F55B0;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: rgb(5, 5, 5);
    display: block;
    outline-style: hidden;
    text-align: center;
    width: auto;
    border: 1px solid #2325472a;
    border-radius: 20px;
}
a:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.658), rgba(255, 0, 0, 0.603));/*#3C408F*/
    box-shadow: 0px 0px 10px rgba(250, 5, 5, 0.596);
    color: #ffffff;
}
h3 {
    color: brown;
    padding: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 9px ;
}


.box 
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.box::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.box::before
{
    content: '';
    position: absolute;
    width: 64vh; /*Largura e altura da cor Azul do efieto*/
    height: 70vh;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(5, 226, 255));
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.box span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}

.boxmag 
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.boxmag::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(5, 226, 255));
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.boxmag::before
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(5, 226, 255));
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.boxmag span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
.boxyz
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.boxyz::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, white);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.boxyz::before
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(5, 226, 255));
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.boxyz span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
.boxodd 
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.boxodd::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, brown);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.boxodd::before
{
    content: '';
    position: absolute;
    width: 64vh; /*Largura e altura da cor Azul do efieto*/
    height: 70vh;
    background-image: conic-gradient(transparent, transparent, transparent, rgb(5, 226, 255));
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.boxodd span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
.boxtrap 
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.boxtrap::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.boxtrap::before
{
    content: '';
    position: absolute;
    width: 64vh; /*Largura e altura da cor Azul do efieto*/
    height: 70vh;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.boxtrap span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
.boxodd span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
.boxtrap 
{
    margin: auto;
    position: relative;
    width: 350px;
    height: 450px;
    background: black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    
}
.boxtrap::after
{
    content: '';
    position: absolute;
    width: 70vh; /*Largura e altura da cor Azul do efieto*/
    height: 80vh;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.boxtrap::before
{
    content: '';
    position: absolute;
    width: 64vh; /*Largura e altura da cor Azul do efieto*/
    height: 70vh;
    background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.boxtrap span
{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: black;
    z-index: 1;
}
#ygodown {
    position: absolute;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid white;
    bottom: 80px;
    left: 0px;
    padding: 5px;
    border-radius: 0px 20px 20px 0px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.644), rgba(255, 255, 0, 0.63));
}
#ygopro
{
    display: block;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 0px;
    font-weight: bold;
    font-size: small;
}
#imgdown
{
    width: 50px;

}
#ygodown:hover {
    color: white;
    text-shadow: 1px 1px 1px yellow;
}
#imgdown:hover
{
    width: 60px;
}
















#img2 {
    color: #309994;
    width: 60px;
    height: 60px;
    display: block;
    right: 0px;
    position: fixed;
    padding: 10px;
    bottom: 400px;
}
.fundo {
    width: 70vh;
    position: relative;
    background-attachment: fixed;
    display: block;
    bottom: -40px;

}
#cardfundo {
    width: 120px;
    display: block;
    margin: auto;
}
#ygo {
    position: relative;
    display: block;
    width: 500px;
    bottom: -210px;
    margin: auto;
}
p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.0em;  
    box-shadow: #b7075c;
    border-radius: 10px;
    text-shadow: 1px 1px 8px rgba(5, 3, 3, 0.555);
}
h4 {
    color: gray;
}
h5 {
    color: brown;
    text-indent: 20px;
}

#montanha {
    display: block;
    position: relative;
    width: 2    00vh;
    background-position: bottom, bottom;
    bottom: -200px;
    
}
b {
    color: brown;
    text-indent: 20px; 
}
.magia {
    color: #1F998B;
    padding: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 9px ;
}
.type {
    color: #1F998B;
    text-indent: 20px;
    padding: 10px;
}
.trap {
    color: #b7075c;
    padding: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 9px ;
}
.trap1 {
    background-image:linear-gradient(to bottom, #f0ded6, #b7075c);
    font-weight: bold;
}
.magia1 {
    background-image: linear-gradient(to bottom, #f0ded6, #1F998B);
    font-weight: bold;
}
.pendulo {
    background-image: linear-gradient(to bottom, #BA5E2F, #309994);
    font-weight: bold;
}
.monster {
    background-color: #f8b797;
    font-weight: bold;
}
.xyz {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-shadow: 1px 1px 9px ;
}
.pxyz {
    background-image: linear-gradient(to bottom, rgb(61, 59, 59), #309994);
    font-weight: bold;
}
.type3 {
    color: #0E4983;
    
}
.link2 {

    background-image: linear-gradient(to bottom, #1B6B9C, #BBCCDC);
    font-weight: bold;
}
.efeito {
    background-image: linear-gradient(to bottom, #f8b797, white);
    background-image: linear-gradient(to bottom, );
    font-weight: bold;
    
}
.efeito2 {
    background-image: linear-gradient(to bottom, #1F998B, white);
    font-weight: bold;
}
.ritual {
    background-image: linear-gradient(to bottom, #4E7FBF, #D5E2F2);
    font-weight: bold;
}
